extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let phonesid = toShow._id 
    - let pName = toShow.pName 
    - let pPixels = toShow.pPixels
    - let pCost = toShow.pCost
    - let actionid = "/resource/phones/" + phonesid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='phonesAttr mr-3') phones ID is: 
        div #{phonesid} 
      div.row 
        div(class='phonesAttr mr-3') phones Type is: 
        div #{pName} 
      div.row 
        div(class='phonesAttr mr-3') phones Size is: 
        div #{pCost} 
      div.row 
        div(class='phonesAttr mr-3') phones Cost is: 
        div #{pPixels} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the phones collection 
      window.location.href='/phoness' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      // Don't need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/phones' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 